<div class="container">
    <form (ngSubmit)="submitForm()" #f="ngForm">
        <div class="section-title">Add Notification Status</div>
        <div class="form-group">
            <div>
                <label for="status-name">Status Name</label>
                <input type="text" id="button_name" placeholder="Enter status name" [(ngModel)]="button_name" name="button_name" required>
            </div>
            <div>
                <label for="app-name">App Name</label>
                <input type="text" id="module_name" placeholder="Enter app name" [(ngModel)]="module_name" name="module_name" required>
            </div>

        </div>
        <div class="button-container">
            <button type="submit" [disabled]="!f.valid">{{ buttonName_submit }}</button>
            <button type="reset" style="margin-left: 5px; background-color: brown;">{{ buttonName_reset }}</button>
        </div>        
    </form>
</div>

<div *ngIf="response_status !== null">
    <pre>{{ response_status | json }}</pre>
</div>