<div class="container" style="margin-top: 20px; border: 2px solid #0c0c0c;">
    <header style="background-color: rgb(20, 20, 20); padding: 5px; text-align: center; margin-left: -15px; margin-right: -15px;">
        <h3 style="color: white;">Existing Users</h3>
    </header>
        <table class="table table-striped" style="overflow-x: auto; overflow-y: auto;">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>OIC Number</th>
                    <th>Assignment Start Date</th>
                    <th>Assignment Start At</th>
                    <th>Class as per Job</th>
                    <th>Blood Type</th>
                    <th>Registered Disabled Flag</th>
                    <th>Class</th>
                    <th>R Year</th>
                    <th>MPWZ ID</th>
                    <th>OPT Filled</th>
                    <th>Soft KFF</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.employee_number }}</td>
                    <td>{{ user.oic_no }}</td>
                    <td>{{ user.assignment_start_date }}</td>
                    <td>{{ user.assignment_start_at_location }}</td>
                    <td>{{ user.class_as_perjob }}</td>
                    <td>{{ user.blood_type }}</td>
                    <td>{{ user.registered_disabled_flag }}</td>
                    <td>{{ user.class }}</td>
                    <td>{{ user.r_year }}</td>
                    <td>{{ user.mpwz_id }}</td>
                    <td>{{ user.opt_filled }}</td>
                    <td>{{ user.soft_kff }}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="result" [ngClass]="{'danger': !isProcessing, 'success': isProcessing}">
            <pre>{{ result | json }}</pre>
        </div>      
        <div class="pagination">
            <button (click)="prevPage()" [disabled]="page_no === 1">Previous</button>
            <span>Page {{ page_no }} of {{ total_pages }}</span>
            <button (click)="nextPage()" [disabled]="page_no === total_pages">Next</button>
        </div>
    </div>
