<div class="container margin_top">
    <h1 style="padding: 10px; background-color: rgb(221, 229, 235); border-bottom: 0.5px solid rgb(184, 222, 237)">
        One App Integration Batch Control</h1>
    <br>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="service">
                <h5>Refresh Data for Create Android Users</h5>
                <br>
                <button class="btn btn-primary" (click)="redirect_to_insertuserfrommpwzusers()">Run Batch</button>
                <!-- <button class="btn btn-primary" (click)="openModal()">Submit</button>   -->
                <!-- <app-confirmation-models *ngIf="isModalOpen" (confirmed)="onConfirm()" (canceled)="closeModal()"></app-confirmation-models> -->
      
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="service">
                <h5>Refresh Data form Power BI Warehouse</h5>
                <br>                
                <button class="btn btn-primary" (click)="redirect_to_insertuserfromPowerBiWarehouse()">Run Batch</button>
                <!-- <button class="btn btn-primary" (click)="openModal()">Open Confirmation Modal</button> -->
                <!-- <app-confirmation-models *ngIf="isModalOpen" (confirmed)="onConfirm()" (canceled)="closeModal()"></app-confirmation-models> -->
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="service">
                <h5>Refresh Nofitication Data form NGB Server</h5>
                <br>
                <button class="btn btn-primary" (click)="redirect_to_insertuserfrommpwzusers()">Run Batch</button>
                <!-- <button (click)="openModal(' Replacement')">Start Now</button> -->
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="service">
                <h5>Refresh Nofitication Data form ERP Server</h5>
                <br>
                <button class="btn btn-primary" (click)="redirect_to_insertuserfrommpwzusers()">Run Batch</button>
                <!-- <button (click)="openModal(' Tuning')">Start Now</button> -->
            </div>
        </div>
    </div>
</div>

