
<div class="d-flex">
  <!-- Sidebar -->
  <aside class="sidebar bg-dark text-white vh-100 d-none d-md-block" id="accordionSidebar">
    <div class="container py-3">
      <div class="text-center mb-3">
        <h4>OneAdmin</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-dark text-white">
          <a href="#" class="text-white text-decoration-none" routerLink="/oneadmin/dashboard">One Dashboard</a>  
        </li>
        <li class="list-group-item bg-dark text-white">
          <a href="#" class="text-white text-decoration-none" routerLink="/superset/commmercial">
            commmercial
          </a>  
        </li>    
        <li class="list-group-item bg-dark" data-bs-toggle="collapse" data-bs-target="#Complaints" aria-expanded="false" aria-controls="User">
          <a class="sidebar-link text-white d-flex justify-content-between align-items-center">
            NGB MIS Reports
            <i class="fas fa-chevron-down"></i>
          </a>
        </li>
        <div id="Complaints" class="collapse list-group list-group-flush ps-3" data-bs-parent="#accordionSidebar">
          <li class="list-group-item bg-dark">
            <a href="#" class="text-white text-decoration-none" routerLink="/oneadmin/user-complaints-dashboard">Consumer's Passbook</a>
          </li>
          <li class="list-group-item bg-dark">
            <a href="#" class="text-white text-decoration-none" routerLink="/oneadmin/user-complaints-form-entry">Consumer's Old Bills</a>
          </li>
          <li class="list-group-item bg-dark">
            <a href="#" class="text-white text-decoration-none" routerLink="/oneadmin/user-complaints-view">Bill Ledgers</a>
          </li>
        </div>
        <li class="list-group-item bg-dark" data-bs-toggle="collapse" data-bs-target="#VillageTaggingOneApp" aria-expanded="false" aria-controls="User">
          <a class="sidebar-link text-white d-flex justify-content-between align-items-center">
            Village's Tagging
            <i class="fas fa-chevron-down"></i>
          </a>
        </li>
        <div id="VillageTaggingOneApp" class="collapse list-group list-group-flush ps-3" data-bs-parent="#accordionSidebar">
          <li class="list-group-item bg-dark">
            <a href="#" class="text-white text-decoration-none" routerLink="/oneadmin/user-complaints-form-entry">Add VillagesTagging</a>
          </li>
          <li class="list-group-item bg-dark">
            <a href="#" class="text-white text-decoration-none" routerLink="/oneadmin/user-complaints-view">View VillagesMapping</a>
          </li>
          <li class="list-group-item bg-dark">
            <a href="#" class="text-white text-decoration-none" routerLink="/oneadmin/user-complaints-dashboard">View VillagesList</a>
          </li>
        </div>
        <li class="list-group-item bg-dark" data-bs-toggle="collapse" data-bs-target="#User" aria-expanded="false" aria-controls="User">
          <a class="sidebar-link text-white d-flex justify-content-between align-items-center">
            Users Console
            <i class="fas fa-chevron-down"></i>
          </a>
        </li>
        <div id="User" class="collapse list-group list-group-flush ps-3" data-bs-parent="#accordionSidebar">
          <li class="list-group-item bg-dark">
            <a href="#" class="text-white text-decoration-none" routerLink="/oneadmin/user-create-integration-users">Create Integration Users</a>
          </li>
          <li class="list-group-item bg-dark">
            <a href="#" class="text-white text-decoration-none" routerLink="/oneadmin/user-change-password">Change Password</a>
          </li>
          <li class="list-group-item bg-dark">
            <a href="#" class="text-white text-decoration-none" routerLink="/oneadmin/user-change-work-location">Change Work Location</a>
          </li>
          <li class="list-group-item bg-dark">
            <a href="#" class="text-white text-decoration-none" routerLink="/oneadmin/user-add-users-for-alerts">List of Existing Users</a>
          </li>
        </div>
        <li class="list-group-item bg-dark" data-bs-toggle="collapse" data-bs-target="#Integration" aria-expanded="false" aria-controls="Integration">
          <a class="sidebar-link text-white d-flex justify-content-between align-items-center">
            Integration Console
            <i class="fas fa-chevron-down"></i>
          </a>
        </li>
        <div id="Integration" class="collapse list-group list-group-flush ps-3" data-bs-parent="#accordionSidebar">
          <li class="list-group-item bg-dark">
            <a href="#" class="text-white text-decoration-none" routerLink="/oneadmin/integrated-add-new-app">Add New App</a>
          </li>
          <li class="list-group-item bg-dark">
            <a href="#" class="text-white text-decoration-none" routerLink="/oneadmin/integrated-add-new-notify-status">Add New App Status</a>
          </li>
          <li class="list-group-item bg-dark">
            <a href="#" class="text-white text-decoration-none" routerLink="/oneadmin/integrated-add-new-app-buttons">Add New App buttons</a>
          </li>
          <li class="list-group-item bg-dark text-white">
            <a href="#" class="text-white text-decoration-none" routerLink="/oneadmin/batch-control-management">
              DB Batch Control
            </a>  
          </li>
        </div>
      </ul>
    </div>
  </aside>
  <!-- Main Content -->
  <div class="container-fluid flex-fill p-2 main-content">
    <button
        id="sidebarToggle"
        class="btn btn-dark d-md-none"
        type="button"
        (click)="toggleSidebar()">
        <i class="fas fa-bars"></i>
    </button>
    <div class="header d-flex align-items-center" style="background-color: #dfe8f0;">
        <input type="text" placeholder="Search..." style="background-color: #fff; color: #333; border: 1px solid #ccc; flex: 1;">
        <div class="dropdown">
            <i class="fas fa-user-circle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 200px;">
                <li><a class="dropdown-item" href="#">User's Profile</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>

