<div class="sidebar">
  <h1>DEMO</h1>
  <ul>
      <li><i class="fas fa-home"></i> HRM</li>
      <li><i class="fas fa-tachometer-alt"></i> Dashboard</li>
      <li><i class="fas fa-users"></i> Customers</li>
      <li><i class="fas fa-industry"></i> Manufacturing</li>
      <li><i class="fas fa-file-alt"></i> HR records</li>
      <li><i class="fas fa-truck"></i> Suppliers</li>
      <li><i class="fas fa-calculator"></i> Accounting</li>
      <li><i class="fas fa-chart-line"></i> Sales</li>
      <li><i class="fas fa-file-invoice"></i> Subscriptions</li>
      <li><i class="fas fa-money-bill-wave"></i> Expenses</li>
      <li><i class="fas fa-file-contract"></i> Contracts</li>
      <li><i class="fas fa-project-diagram"></i> Projects</li>
      <li><i class="fas fa-file-invoice-dollar"></i> HR payroll</li>
      <li><i class="fas fa-boxes"></i> Inventory</li>
      <li><i class="fas fa-percentage"></i> Commission</li>
      <li><i class="fas fa-shopping-cart"></i> Purchase</li>
      <li><i class="fas fa-clock"></i> Timesheets & Leave</li>
      <li><i class="fas fa-comments"></i> WhatsApp</li>
      <li><i class="fas fa-tasks"></i> Tasks</li>
      <li><i class="fas fa-file-invoice"></i> Estimate Request</li>
  </ul>
</div>
<div class="container-fluid"> 
<router-outlet></router-outlet> 
</div>