<div class="main-content">
    <div class="cards" *ngIf="dashboardstatusCount">
        <div class="card">           
            <div class="text">
                <h6>Total Users</h6>
                <p class="dashboard_text_count" *ngIf="activeUsersCount !== null">{{ activeUsersCount }}</p>
                <p *ngIf="activeUsersCount === null">Loading...</p>
            </div>
        </div>
        <div class="card">
            <div class="text">
                <h6>APPROVED</h6>
                    <p class="dashboard_text_count" *ngIf="dashboardstatusCount.APPROVED !== null">{{ dashboardstatusCount.APPROVED }}</p> 
                    <p *ngIf="dashboardstatusCount.APPROVED === null">Loading...</p>
            </div>
        </div>
        <div class="card">
            <div class="text">
                <h6>PENDING</h6>
                <p class="dashboard_text_count" *ngIf="dashboardstatusCount.PENDING !== null">{{ dashboardstatusCount.PENDING }}</p>
                <p *ngIf="dashboardstatusCount.PENDING === null">Loading...</p>
            </div>
        </div> 
        <div class="card">
            <div class="text">
                <h6>REASSIGNED</h6>
                <p class="dashboard_text_count" *ngIf="dashboardstatusCount.REASSIGNED !== null">{{ dashboardstatusCount.REASSIGNED }}</p>
                <p *ngIf="dashboardstatusCount.REASSIGNED === null">Loading...</p>
            </div>
        </div> 
        <div class="card">
            <div class="text">
                <h6>REJECTED</h6>
                <p class="dashboard_text_count" *ngIf="dashboardstatusCount.REJECTED !== null">{{ dashboardstatusCount.REJECTED }}</p>
                <p *ngIf="dashboardstatusCount.REJECTED === null">Loading...</p>
            </div>
        </div>
        <div class="card">
            <div class="text">
                <h6>TOTAL</h6>
                <p class="dashboard_text_count" *ngIf="dashboardtotalCount !== null">{{ dashboardtotalCount }}</p>
                <p *ngIf="dashboardtotalCount === null">Loading...</p>
            </div>
        </div> 
     </div> 

    <div class="table-container-fluid table-responsive striped">
        <table>
            <thead>
                <tr>
                    <th>Action at</th>
                    <th>Action by</th>
                    <th>MPWZ ID</th>
                    <th>Notify Refsys ID</th>
                    <th>Notify Status</th>
                    <th>Notify To ID</th>
                    <th>Sequence No</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let recentAction of recentActions; let i = index" [class.table-info]="i % 2 == 0" [class.table-secondary]="i % 2 != 0">
                    <td>{{ recentAction.action_at | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td>{{ recentAction.action_by }}</td>
                    <td>{{ recentAction.mpwz_id }}</td>
                    <td>{{ recentAction.notify_refsys_id }}</td>
                    <td>{{ recentAction.notify_status }}</td>
                    <td>{{ recentAction.notify_to_id }}</td>
                    <td>{{ recentAction.sequence_no }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>

    <iframe
  width="600"
  height="400"
  seamless
  frameBorder="0"
  scrolling="no"
  src="http://10.98.7.222:8088/superset/explore/p/Njqz1Y3zwXv/?standalone=1&height=400"
>
</iframe>

<iframe
  width="600"
  height="400"
  seamless
  frameBorder="0"
  scrolling="no"
  src="http://10.98.7.222:8088/superset/explore/p/03VZGMEPNjA/?standalone=1&height=400"
>
</iframe>
<br>
  </div>