<div class="main-content">
    <div class="header" style="background-color: #f0f0f0;">
        <input type="text" placeholder="Search..." style="background-color: #fff; color: #333; border: 1px solid #ccc;">
        <div class="icons">
            <i class="fas fa-bell"></i>
            <i class="fas fa-user-circle"></i>
        </div>
    </div>
    <div class="cards" *ngIf="dashboardstatusCount">
        <div class="card">           
            <div class="text">
                <h6>Total Users</h6>
                <p class="dashboard_text_count" *ngIf="activeUsersCount !== null">{{ activeUsersCount }}</p>
                <p *ngIf="activeUsersCount === null">Loading...</p>
            </div>
        </div>
        <div class="card">
            <div class="text">
                <h6>Total Hits</h6>
                <p class="dashboard_text_count" *ngIf="total_api_hits !== null">{{ total_api_hits }}</p>
                <p *ngIf="total_api_hits === null">Loading...</p>
            </div>
        </div> 
        <div class="card">
            <div class="text">
                <h6>APPROVED</h6>
                    <p class="dashboard_text_count" *ngIf="dashboardstatusCount.APPROVED !== null">{{ dashboardstatusCount.APPROVED }}</p> 
                    <p *ngIf="dashboardstatusCount.APPROVED === null">Loading...</p>
            </div>
        </div>
        <div class="card">
            <div class="text">
                <h6>PENDING</h6>
                <p class="dashboard_text_count" *ngIf="dashboardstatusCount.PENDING !== null">{{ dashboardstatusCount.PENDING }}</p>
                <p *ngIf="dashboardstatusCount.PENDING === null">Loading...</p>
            </div>
        </div> 
        <div class="card">
            <div class="text">
                <h6>REASSIGNED</h6>
                <p class="dashboard_text_count" *ngIf="dashboardstatusCount.REASSIGNED !== null">{{ dashboardstatusCount.REASSIGNED }}</p>
                <p *ngIf="dashboardstatusCount.REASSIGNED === null">Loading...</p>
            </div>
        </div> 
        <div class="card">
            <div class="text">
                <h6>REJECTED</h6>
                <p class="dashboard_text_count" *ngIf="dashboardstatusCount.REJECTED !== null">{{ dashboardstatusCount.REJECTED }}</p>
                <p *ngIf="dashboardstatusCount.REJECTED === null">Loading...</p>
            </div>
        </div>
        <div class="card">
            <div class="text">
                <h6>TOTAL</h6>
                <p class="dashboard_text_count" *ngIf="dashboardtotalCount !== null">{{ dashboardtotalCount }}</p>
                <p *ngIf="dashboardtotalCount === null">Loading...</p>
            </div>
        </div> 
     </div> 

    <div class="table-container-fluid">
        <table>
            <thead>
                <tr>
                    <th>Purchase order number</th>
                    <th>Order date</th>
                    <th>Vendors</th>
                    <th>PO Value</th>
                    <th>Tax Value</th>
                    <th>Delivery date</th>
                    <th>Delivery status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#PO-00001-Jun-2024-1</td>
                    <td>2024-06-27</td>
                    <td>SRF</td>
                    <td>USD2,400.00</td>
                    <td>USD0.00</td>
                    <td></td>
                    <td class="status">Undelivered</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="container-fluid" style=" padding: 10px; border: 1px solid #ccc;">
        <div class="box">
            <h6 class="text-center" style="color:white; background-color: #6d6ff3; padding: 10px;">Dashboard Source Status Wise</h6>
            <div *ngIf="dashboardstatuswiseData">
                <table>
                    <tr>
                        <td>
                            <h5>ERP</h5>
                            <p>APPROVED: {{ dashboardstatuswiseData.erp.APPROVED }}</p>
                            <p>PENDING: {{ dashboardstatuswiseData.erp.PENDING }}</p>
                            <p>REASSIGNED: {{ dashboardstatuswiseData.erp.REASSIGNED }}</p>
                            <p>REJECTED: {{ dashboardstatuswiseData.erp.REJECTED }}</p>

                        </td>
                        <td>
                            <h5>NGB</h5>
                            <p>APPROVED: {{ dashboardstatuswiseData.ngb.APPROVED }}</p>
                            <p>PENDING: {{ dashboardstatuswiseData.ngb.PENDING }}</p>
                            <p>REASSIGNED: {{ dashboardstatuswiseData.ngb.REASSIGNED }}</p>
                            <p>REJECTED: {{ dashboardstatuswiseData.ngb.REJECTED }}</p>
                        </td>
                        <td>
                            <h5>NGB</h5>
                            <p>APPROVED: {{ dashboardstatuswiseData.ngb.APPROVED }}</p>
                            <p>PENDING: {{ dashboardstatuswiseData.ngb.PENDING }}</p>
                            <p>REASSIGNED: {{ dashboardstatuswiseData.ngb.REASSIGNED }}</p>
                            <p>REJECTED: {{ dashboardstatuswiseData.ngb.REJECTED }}</p>
                        </td>
                        <td>
                            <h5>NGB</h5>
                            <p>APPROVED: {{ dashboardstatuswiseData.ngb.APPROVED }}</p>
                            <p>PENDING: {{ dashboardstatuswiseData.ngb.PENDING }}</p>
                            <p>REASSIGNED: {{ dashboardstatuswiseData.ngb.REASSIGNED }}</p>
                            <p>REJECTED: {{ dashboardstatuswiseData.ngb.REJECTED }}</p>
                        </td>
                        <td>
                            <h5>NGB</h5>
                            <p>APPROVED: {{ dashboardstatuswiseData.ngb.APPROVED }}</p>
                            <p>PENDING: {{ dashboardstatuswiseData.ngb.PENDING }}</p>
                            <p>REASSIGNED: {{ dashboardstatuswiseData.ngb.REASSIGNED }}</p>
                            <p>REJECTED: {{ dashboardstatuswiseData.ngb.REJECTED }}</p>
                        </td>
                        <td>
                            <h5>NGB</h5>
                            <p>APPROVED: {{ dashboardstatuswiseData.ngb.APPROVED }}</p>
                            <p>PENDING: {{ dashboardstatuswiseData.ngb.PENDING }}</p>
                            <p>REASSIGNED: {{ dashboardstatuswiseData.ngb.REASSIGNED }}</p>
                            <p>REJECTED: {{ dashboardstatuswiseData.ngb.REJECTED }}</p>
                        </td>
                        <td>
                            <h5>NGB</h5>
                            <p>APPROVED: {{ dashboardstatuswiseData.ngb.APPROVED }}</p>
                            <p>PENDING: {{ dashboardstatuswiseData.ngb.PENDING }}</p>
                            <p>REASSIGNED: {{ dashboardstatuswiseData.ngb.REASSIGNED }}</p>
                            <p>REJECTED: {{ dashboardstatuswiseData.ngb.REJECTED }}</p>
                        </td>
                    </tr>
                </table>
              </div>
              <p *ngIf="!dashboardstatuswiseData">Loading...</p>
        </div>
    </div>
  </div>