<div class="main-content">
    <div class="header" style="background-color: #f0f0f0;">
        <input type="text" placeholder="Search..." style="background-color: #fff; color: #333; border: 1px solid #ccc;">
        <div class="icons">
            <i class="fas fa-bell"></i>
            <i class="fas fa-user-circle"></i>
        </div>
    </div>
    <div class="cards" *ngIf="dashboardstatusCount">
        <div class="card">           
            <div class="text">
                <h6>Total Users</h6>
                <p class="dashboard_text_count" *ngIf="activeUsersCount !== null">{{ activeUsersCount }}</p>
                <p *ngIf="activeUsersCount === null">Loading...</p>
            </div>
        </div>
        <div class="card">
            <div class="text">
                <h6>Total Hits</h6>
                <p class="dashboard_text_count" *ngIf="total_api_hits !== null">{{ total_api_hits }}</p>
                <p *ngIf="total_api_hits === null">Loading...</p>
            </div>
        </div> 
        <div class="card">
            <div class="text">
                <h6>APPROVED</h6>
                    <p class="dashboard_text_count" *ngIf="dashboardstatusCount.APPROVED !== null">{{ dashboardstatusCount.APPROVED }}</p> 
                    <p *ngIf="dashboardstatusCount.APPROVED === null">Loading...</p>
            </div>
        </div>
        <div class="card">
            <div class="text">
                <h6>PENDING</h6>
                <p class="dashboard_text_count" *ngIf="dashboardstatusCount.PENDING !== null">{{ dashboardstatusCount.PENDING }}</p>
                <p *ngIf="dashboardstatusCount.PENDING === null">Loading...</p>
            </div>
        </div> 
        <div class="card">
            <div class="text">
                <h6>REASSIGNED</h6>
                <p class="dashboard_text_count" *ngIf="dashboardstatusCount.REASSIGNED !== null">{{ dashboardstatusCount.REASSIGNED }}</p>
                <p *ngIf="dashboardstatusCount.REASSIGNED === null">Loading...</p>
            </div>
        </div> 
        <div class="card">
            <div class="text">
                <h6>REJECTED</h6>
                <p class="dashboard_text_count" *ngIf="dashboardstatusCount.REJECTED !== null">{{ dashboardstatusCount.REJECTED }}</p>
                <p *ngIf="dashboardstatusCount.REJECTED === null">Loading...</p>
            </div>
        </div>
        <div class="card">
            <div class="text">
                <h6>TOTAL</h6>
                <p class="dashboard_text_count" *ngIf="dashboardtotalCount !== null">{{ dashboardtotalCount }}</p>
                <p *ngIf="dashboardtotalCount === null">Loading...</p>
            </div>
        </div> 
     </div> 

    <div class="table-container-fluid table-responsive striped">
        <table>
            <thead>
                <tr>
                    <th>Action at</th>
                    <th>Action by</th>
                    <th>MPWZ ID</th>
                    <th>Notify Refsys ID</th>
                    <th>Notify Status</th>
                    <th>Notify To ID</th>
                    <th>Sequence No</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let recentAction of recentActions; let i = index" [class.table-info]="i % 2 == 0" [class.table-secondary]="i % 2 != 0">
                    <td>{{ recentAction.action_at | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td>{{ recentAction.action_by }}</td>
                    <td>{{ recentAction.mpwz_id }}</td>
                    <td>{{ recentAction.notify_refsys_id }}</td>
                    <td>{{ recentAction.notify_status }}</td>
                    <td>{{ recentAction.notify_to_id }}</td>
                    <td>{{ recentAction.sequence_no }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="container-fluid" style=" padding: 10px; border: 1px solid #ccc;">
        <div class="box">
            <h6 class="text-center" style="color:white; background-color: #6d6ff3; padding: 10px;">Dashboard Source Status Wise</h6>
            <div *ngIf="dashboardstatuswiseData">
                <table>
                    <tr>
                        <td>
                            <h5>ERP</h5>
                            <p>APPROVED: {{ dashboardstatuswiseData?.erp?.APPROVED ? dashboardstatuswiseData.erp.APPROVED : 0 }}</p>
                            <p>PENDING: {{ dashboardstatuswiseData?.erp?.PENDING ? dashboardstatuswiseData.erp.PENDING : 0 }}</p>
                            <p>REASSIGNED: {{ dashboardstatuswiseData?.erp?.REASSIGNED ? dashboardstatuswiseData.erp.REASSIGNED : 0 }}</p>
                            <p>REJECTED: {{ dashboardstatuswiseData?.erp?.REJECTED ? dashboardstatuswiseData.erp.REJECTED : 0 }}</p>

                        </td>
                        <td>
                            <h5>NGB</h5>
                            <p>APPROVED: {{ dashboardstatuswiseData?.ngb?.APPROVED ? dashboardstatuswiseData.ngb.APPROVED : 0 }}</p>
                            <p>PENDING: {{ dashboardstatuswiseData?.ngb?.PENDING ? dashboardstatuswiseData.ngb.PENDING : 0 }}</p>
                            <p>REASSIGNED: {{ dashboardstatuswiseData?.ngb?.REASSIGNED ? dashboardstatuswiseData.ngb.REASSIGNED : 0 }}</p>
                            <p>REJECTED: {{ dashboardstatuswiseData?.ngb?.REJECTED ? dashboardstatuswiseData.ngb.REJECTED : 0 }}</p>
                        </td>
                        <td>
                            <h5>NGB</h5>
                            <p>APPROVED: {{ dashboardstatuswiseData?.ngb?.APPROVED ? dashboardstatuswiseData.ngb.APPROVED : 0 }}</p>
                            <p>PENDING: {{ dashboardstatuswiseData?.ngb?.PENDING ? dashboardstatuswiseData.ngb.PENDING : 0 }}</p>
                            <p>REASSIGNED: {{ dashboardstatuswiseData?.ngb?.REASSIGNED ? dashboardstatuswiseData.ngb.REASSIGNED : 0 }}</p>
                            <p>REJECTED: {{ dashboardstatuswiseData?.ngb?.REJECTED ? dashboardstatuswiseData.ngb.REJECTED : 0 }}</p>
                        </td>
                        <td>
                            <h5>NGB</h5>
                            <p>APPROVED: {{ dashboardstatuswiseData?.ngb?.APPROVED ? dashboardstatuswiseData.ngb.APPROVED : 0 }}</p>
                            <p>PENDING: {{ dashboardstatuswiseData?.ngb?.PENDING ? dashboardstatuswiseData.ngb.PENDING : 0 }}</p>
                            <p>REASSIGNED: {{ dashboardstatuswiseData?.ngb?.REASSIGNED ? dashboardstatuswiseData.ngb.REASSIGNED : 0 }}</p>
                            <p>REJECTED: {{ dashboardstatuswiseData?.ngb?.REJECTED ? dashboardstatuswiseData.ngb.REJECTED : 0 }}</p>
                        </td>
                        <td>
                            <h5>NGB</h5>
                            <p>APPROVED: {{ dashboardstatuswiseData?.ngb?.APPROVED ? dashboardstatuswiseData.ngb.APPROVED : 0 }}</p>
                            <p>PENDING: {{ dashboardstatuswiseData?.ngb?.PENDING ? dashboardstatuswiseData.ngb.PENDING : 0 }}</p>
                            <p>REASSIGNED: {{ dashboardstatuswiseData?.ngb?.REASSIGNED ? dashboardstatuswiseData.ngb.REASSIGNED : 0 }}</p>
                            <p>REJECTED: {{ dashboardstatuswiseData?.ngb?.REJECTED ? dashboardstatuswiseData.ngb.REJECTED : 0 }}</p>
                        </td>
                        <td>
                            <h5>NGB</h5>
                            <p>APPROVED: {{ dashboardstatuswiseData?.ngb?.APPROVED ? dashboardstatuswiseData.ngb.APPROVED : 0 }}</p>
                            <p>PENDING: {{ dashboardstatuswiseData?.ngb?.PENDING ? dashboardstatuswiseData.ngb.PENDING : 0 }}</p>
                            <p>REASSIGNED: {{ dashboardstatuswiseData?.ngb?.REASSIGNED ? dashboardstatuswiseData.ngb.REASSIGNED : 0 }}</p>
                            <p>REJECTED: {{ dashboardstatuswiseData?.ngb?.REJECTED ? dashboardstatuswiseData.ngb.REJECTED : 0 }}</p>
                        </td>
                    </tr>
                </table>
              </div>
              <p *ngIf="!dashboardstatuswiseData">Loading...</p>
        </div>
    </div>
  </div>