<div class="container mt-2">
  <div class="card shadow p-2" style="background-color:whitesmoke;" *ngIf="consumers.length === 0">
    <h6  style="background-color:#b47d06; color: rgb(243, 238, 238); font-weight: bold; padding: 5px; margin-left:-8px; margin-right:-8px; margin-top: -8px;">
     Change Existing Village Tagging</h6>
    <br> 
    <div class="row">
      <!-- Parliament -->
      <div class="col-md-4">
        <div class="form-group">
          <label for="parliament_name">Parliament</label>
          <select class="form-control" id="parliament_name" [(ngModel)]="parliament_name" (change)="onParliamentChange()">
            <option value="">Select Parliament</option>
            <option *ngFor="let parliament of parliaments" [value]="parliament.parliament_constituency_name">
             {{parliament.parliament_constituency_eci_code}}-{{ parliament.parliament_constituency_name }}
            </option>
          </select>
        </div>
      </div>  
      <!-- Assembly -->
      <div class="col-md-4">
        <div class="form-group">
          <label for="assembly_name">Assembly</label>
          <select class="form-control" id="assembly_name" [(ngModel)]="assembly_name" (change)="onAssemblyChange()" [disabled]="!parliament_name">
            <option value="">Select Assembly</option>
            <option *ngFor="let assembly of assemblies" [value]="assembly.assembly_constituency_name">  
              {{assembly.assembly_constituency_eci_code}}-{{ assembly.assembly_constituency_name }}
            </option>
          </select>
        </div>
      </div>
      <!-- District -->
      <div class="col-md-4">
        <div class="form-group">
          <label for="district_name">District</label>
          <select class="form-control" id="district_name" [(ngModel)]="district_name" (change)="onDistrictChange()" [disabled]="!assembly_name">
            <option value="">Select District</option>
            <option *ngFor="let district of districts" [value]="district.district_name">
             {{district.district_code}}-{{ district.district_name }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row mt-3">          
      <!-- Sub District -->
      <div class="col-md-4">
        <div class="form-group">
          <label for="subdistrict_name">Sub District</label>
          <select class="form-control" id="subdistrict_name" [(ngModel)]="subdistrict_name" (change)="onsubdistrictChange()" [disabled]="!district_name">
            <option value="">Select District</option>
            <option *ngFor="let subdistrict of subdistricts" [value]="subdistrict.subdistrict_name">
              {{ subdistrict.subdistrict_code }}-{{ subdistrict.subdistrict_name }}</option>
          </select>
        </div>
      </div>
      <!-- Local Body Name-->
      <div class="col-md-4">
        <div class="form-group">
          <label for="localbody_name">Local Body</label>
          <select class="form-control" id="localbody_name" [(ngModel)]="localbody_name" (change)="onLocalBodyChange()" [disabled]="!subdistrict_name">
            <option value="">Select Local Body</option>
            <option *ngFor="let localBody of localBodies" [value]="localBody.localbody_name">
              {{ localBody.localbody_name }}-{{localBody.local_body_type}}</option>
          </select>
        </div>
      </div>
      <!-- Village/Ward -->
      <div class="col-md-4">
        <div class="form-group">
          <label for="village_name">Village/Ward</label>
          <select class="form-control" id="village_name" [(ngModel)]="village_name" [disabled]="!localbody_name">
            <option value="">Select Village/Ward</option>
            <option *ngFor="let village of villages" [value]="village.village_name">
              {{village.village_code}}-{{ village.village_name }}</option>
          </select>
        </div>
      </div>
    </div>
       <br> 
   <div class="row">
      <!-- Location Code -->
      <div class="col-md-4">
        <div class="form-group">
          <label for="location_code"><strong >Location Code</strong></label>
          <select class="form-control" id="location_code" [(ngModel)]="location_code" (change)="onLocationChange()" [disabled]="!village_name">
            <option value="">Select Location Code</option>
            <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
          </select>
        </div>
      </div>

      <!-- Group No -->
      <div class="col-md-4">
        <div class="form-group">
          <label for="group_no" ><strong>Group No</strong></label>
          <select class="form-control" id="group_no" [(ngModel)]="group_no" (change)="onGroupChange()" [disabled]="!location_code">
            <option value="">Select Group No</option>
            <option *ngFor="let group of groups" [value]="group.group_no">{{ group.group_no }}</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Fetch Button -->
    <div class="d-flex justify-content-center mt-3">
      <button class="btn btn-primary" (click)="fetchConsumers()" [disabled]="!group_no" >
       {{consumers_search}}
      </button>
    </div>
  </div>

  <div class="card mt-4 shadow p-3 overflow-y-auto" *ngIf="consumers.length > 0">
    <h6 style="background-color:#b47d06; color: rgb(243, 238, 238); font-weight: bold; padding: 5px; margin-left:-18px; margin-right:-18px; margin-top: -18px;">
      Data Fetched Successfully for location_code-> {{ location_code }} / GroupNo-> {{ group_no }} / DairyNo-> {{ dairy_no }}
    </h6>
    <table class="table table-striped table-bordered">
      <thead style="background-color:#a38239; color: white ; font-weight: bold;">
        <tr>
          <th>
            <input
              type="checkbox"
              (change)="toggleSelectAll($event)"
              [checked]="isAllSelected()"
            /> SelectAll
          </th>
          <th>S.No</th>
          <th>Locationcode</th>
          <th>GroupNo</th>
          <th>DairyNo</th>
          <th>ConsumerNo</th>
          <th>ConsumerName</th>
          <th>ParliamentName</th>
          <th>AssemblyName</th>
          <th>DistrictName</th>
          <th>SubDistrictName</th>
          <th>LocalbodyName</th>
          <th>VillageName</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let consumer of consumers; let i = index">
          <td>
            <input
              type="checkbox"
              [checked]="selectedConsumers.includes(consumer.consumer_no)"
              (change)="toggleSelection(consumer.consumer_no)"
            />
          </td>
          <td>{{ i + 1 }}</td>
          <td>{{location_code}}</td>
          <td>{{group_no}}</td>
          <td>{{consumer.dairy_no}}</td>
          <td>{{ consumer.consumer_no }}</td>
          <td>{{ consumer.consumer_name }}</td>
          <td>{{parliament_name}}</td>
          <td>{{assembly_name}}</td>
          <td>{{district_name}}</td>
          <td>{{subdistrict_name}}</td>
          <td>{{localbody_name}}</td>
          <td>{{village_name}}</td>
        </tr>
      </tbody>
    </table>
  
    <div class="card shadow p-2" style="background-color:whitesmoke;" *ngIf="consumers.length > 0">
      <h6  style="background-color:#b47d06; color: rgb(243, 238, 238); font-weight: bold; padding: 5px; margin-left:-8px; margin-right:-8px; margin-top: -8px;">
       Select New hierarchy for Change Village Tagging</h6>
      <br> 
      <div class="row">
        <!-- Parliament -->
        <div class="col-md-4">
          <div class="form-group">
            <label for="parliament_name_Change">Parliament</label>
            <select class="form-control" id="parliament_name_Change" [(ngModel)]="parliament_name_Change" (change)="onParliamentChange_Change()">
              <option value="">Select Parliament</option>
              <option *ngFor="let parliament of parliaments_Change" [value]="parliament.parliament_constituency_name">
               {{parliament.parliament_constituency_eci_code}}-{{ parliament.parliament_constituency_name }}
              </option>
            </select>
          </div>
        </div>  
        <!-- Assembly -->
        <div class="col-md-4">
          <div class="form-group">
            <label for="assembly_name_Change">Assembly</label>
            <select class="form-control" id="assembly_name_Change" [(ngModel)]="assembly_name_Change" (change)="onAssemblyChange_Change()" [disabled]="!parliament_name_Change">
              <option value="">Select Assembly</option>
              <option *ngFor="let assembly of assemblies_Change" [value]="assembly.assembly_constituency_name">  
                {{assembly.assembly_constituency_eci_code}}-{{ assembly.assembly_constituency_name }}
              </option>
            </select>
          </div>
        </div>
        <!-- District -->
        <div class="col-md-4">
          <div class="form-group">
            <label for="district_name_Change">District</label>
            <select class="form-control" id="district_name_Change" [(ngModel)]="district_name_Change" (change)="onDistrictChange_Change()" [disabled]="!assembly_name_Change">
              <option value="">Select District</option>
              <option *ngFor="let district of districts_Change" [value]="district.district_name">
               {{district.district_code}}-{{ district.district_name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row mt-3">          
        <!-- Sub District -->
        <div class="col-md-4">
          <div class="form-group">
            <label for="subdistrict_name_Change">Sub District</label>
            <select class="form-control" id="subdistrict_name_Change" [(ngModel)]="subdistrict_name_Change" (change)="onsubdistrictChange_Change()" [disabled]="!district_name_Change">
              <option value="">Select District</option>
              <option *ngFor="let subdistrict of subdistricts_Change" [value]="subdistrict.subdistrict_name">
                {{ subdistrict.subdistrict_code }}-{{ subdistrict.subdistrict_name }}</option>
            </select>
          </div>
        </div>
        <!-- Local Body Name-->
        <div class="col-md-4">
          <div class="form-group">
            <label for="localbody_name_Change">Local Body</label>
            <select class="form-control" id="localbody_name_Change" [(ngModel)]="localbody_name_Change" (change)="onLocalBodyChange_Change()" [disabled]="!subdistrict_name_Change">
              <option value="">Select Local Body</option>
              <option *ngFor="let localBody of localBodies_Change" [value]="localBody.localbody_name">
                {{ localBody.localbody_name }}-{{localBody.local_body_type}}</option>
            </select>
          </div>
        </div>
        <!-- Village/Ward -->
        <div class="col-md-4">
          <div class="form-group">
            <label for="village_name_Change">Village/Ward</label>
            <select class="form-control" id="village_name_Change" [(ngModel)]="village_name_Change" [disabled]="!localbody_name_Change">
              <option value="">Select Village/Ward</option>
              <option *ngFor="let village of villages_Change" [value]="village.village_name">
                {{village.village_code}}-{{ village.village_name }}</option>
            </select>
          </div>
        </div>
      </div>
         <br> 
    <div class="d-flex justify-content-start mt-3 mb-3">
      <button class="btn btn-danger shadow me-2" (click)="submitSelectedConsumers()" [disabled]="consumers.length === 0 || processing_flag">
       {{consumers_tagging_submit}}
      </button>
      <button class="btn btn-secondary shadow" (click)="resetSelection()" [disabled]="consumers.length === 0 || processing_flag">
       {{consumers_tagging_reset}}
      </button>
    </div>
    </div>
  </div>    
</div>


